---
import Layout from "@/layouts/Layout.astro";
import { recipeData } from "@/data/recipes";
import { RecipeCard } from "@/components/patterns/recipe-card";

const search = Astro.url.searchParams.get("q")! || "";
const apiBaseUrl = import.meta.env.RECIPES_API_URL;
const apiId = import.meta.env.RECIPES_API_ID;
const apiSecret = import.meta.env.RECIPES_API_SECRET;

const response = await fetch(
  `${apiBaseUrl}/recipes/v2?type=public&app_id=${apiId}&app_key=${apiSecret}&q=${search}`
);

const data: typeof recipeData = await response.json();

// const data = recipeData;
---

<Layout title={`PaletPilot | ${search}`} search>
  <main class="container mt-12 flex flex-col flex-1">
    <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">
      Searching: {search}
    </h1>
    <h2 class="text-xs text-muted-foreground">
      # of results: {data.count}
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 my-8"
    >
      {
        data.hits.map(({ recipe, _links }) => (
          <RecipeCard
            url={_links.self.href}
            calories={recipe.calories}
            time={recipe.totalTime}
            mealType={recipe.mealType[0]}
            dishType={recipe.dishType ? recipe.dishType[0] : ""}
            cuisineType={recipe.cuisineType[0]}
            name={recipe.label}
            dietLabels={recipe.dietLabels}
            image={recipe.image}
            q={search}
          />
        ))
      }
    </div>
  </main>
</Layout>
